{% extends "layout2.html" %}

{% block content %}
  <!-- about -->
  <div class="about">
    <div class="container">
      <div class="w3ls-title">
        <h2 class="agileits-title">About Me</h2>
      </div>
      <div class="about-agileinfo">
        <div class="col-md-4 col-sm-4 about-left ">
          <img src="images/miki.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-8 col-sm-8 about-right wthree">
          <h3>Hi, i'm <span>Mikhail </span></h3>
          <h4>Web Developer & Musician </h4>
          <ul class="address">
            <li>
              <ul class="agileits-address-text ">
                <li><b>D.O.B :</b></li>
                <li>09-15-1993</li>
              </ul>
            </li>
            <li>
              <ul class="agileits-address-text">
                <li><b>PHONE : </b></li>
                <li>504-913-9275</li>
              </ul>
            </li>
            <li>
              <ul class="agileits-address-text">
                <li><b>ADDRESS :</b></li>
                <li>250 Broome St.</li>
              </ul>
            </li>
            <li>
              <ul class="agileits-address-text">
                <li><b>E-MAIL :</b></li>
                <li><a href="mailto:example@mail.com"> mhq2101@columbia.edu</a></li>
              </ul>
            </li>
          </ul>
          <div class="social-wthree-icons">
            <ul>
              <li>
                <a href="#" class="fa fa-linkedin icon icon-border facebook"> </a>
              </li>
              <li>
                <a href="#" class="fa fa-instagram icon icon-border dribbble"> </a>
              </li>
            </ul>
            <div class="clearfix"> </div>
          </div>
          <div class="hire-w3lgrids">
            <a href="#" class="wthree-more nina" data-text="DOWNLOAD CV">
              <span>D</span><span>o</span><span>w</span><span>n</span><span>l</span><span>o</span><span>a</span><span>d</span>              <span>c</span><span>v</span>
            </a>
            <a href="#" class="wthree-more w3more1 nina" data-text="hire me">
              <span>h</span><span>i</span><span>r</span><span>e</span> <span>m</span><span>e</span>
            </a>
          </div>
        </div>
        <div class="clearfix"> </div>
        <div class="about-text agileits-w3layouts">
          <p> I was born in New Orleans Louisiana to parent of Black-Creole and Bengali descent. Growing up in such an eclectic
            city in a diverse family helped me see life from many angles, and made my interests broad. I have always had
            a passion for music, learning the piano at the age of 5 and the saxophone at 10. I began studying under renowned
            New Orleans Musicians and performing professionally at a young age. I have always had an analytical mind on top
            of my creative personality. This drew me to things like music theory, electrical engineering concepts of signal
            processing and circuit design, and my true calling, programming and computer science. After graduating from Columbia
            University with a bachelor’s in Electrical Engineering, I moved back to New Orleans to pursue music. While performing
            professionally all around the city I worked at the Jazz and Heritage Foundation, Don Jamison School of Music
            with my old music and saxophone mentor Derek Douget (Director of the School) developing curriculum for over 200
            students and instructing. When I felt my technical skills were not being used, I eventually got my Engineering
            Intern Certification in Electrical and Computer Engineering, and shortly after attended Fullstack Academy of
            Code. Learning new libraries, frameworks, and developing everyday sparked a passion for coding that had been
            only fractionally explored. I was then offered a teaching fellowship at Fullstack further solidifying my love
            for the industry. I am currently looking for full stack developer positions in New York City at small to mid-size
            companies with vibrant tech cultures! </p>
        </div>
      </div>
    </div>
  </div>
  <!-- //about -->
{% endblock %}