{% extends "layout2.html" %}

{% block content %}
  <!-- experience -->
	<div class="about experience">
		<div class="container">
			<div class="w3ls-title">
				<h2 class="agileits-title">Experience</h2>
			</div>
			<div class="w3-agileits-expinfo">  
				<div class="experience-grids">
					<div class="experience-left">
						<h6>Sep - Dec 2017</h6>
						<h5>Fullstack Academy </h5>
					</div>
					<div class="experience-right">
						<h4>Web Development Teaching Fellow</h4>
              <ul class="experience-bullets">
                <li>Worked in an Agile engineering team for maintenance and product enhancement of the internal website, LearnDot</li>
                <li>Managed 5 student projects from ideation to deployment as team manager, technical mentor, and code reviewer</li>
                <li>Debugged, mentored and taught concepts and best practices to a cohort of 40+ specially selected students</li>
            </ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="experience-grids experience-grids-btm">
					<div class="experience-left">
						<h6>June 2015-June 2017</h6>
						<h5>Jazz and Heritage Foundation, Don Jamison School of Music </h5>
					</div>
					<div class="experience-right">
						<h4>Curriculum Design Leader, Instructor</h4>
              <ul>
                <li>Designed and implemented new curriculum for over 200 students using advanced music theory and music technology</li>
                <li>Planned, evaluated, and revised existing curricula, course content, course materials, and methods of instruction</li>
                <li>Instructed 40+ students in music theory and instrumental performance</li>
            </ul>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="experience-grids w3-agileits">
					<div class="experience-left">
						<h6>Jun - Aug 2015</h6>
						<h5>Khan Academy </h5>
					</div>
					<div class="experience-right">
						<h4>Engineering Intern</h4>
              <ul>
                <li>Work on project developing a Javascript-based, mobile teaching application for children under the direction of the founder, Salman Khan</li>
                <li>Assisted in project management and worked to effectively design, program, debug, and test the application</li>
            </ul>
					</div>
					<div class="clearfix"> </div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //experience -->
{% endblock %}