<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Mikhail Qader Personal Website{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  </script>
  <!-- Custom Theme files -->
  <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
  <link href="css/font-awesome.css" rel="stylesheet">
  <!-- font-awesome icons -->
  <!-- //Custom Theme files -->
  <!-- js -->
  <script src="js/jquery-2.2.3.min.js"></script>
  <!-- //js -->
  <!-- web-fonts -->
  <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
  <!-- //web-fonts -->
</head>

<body>
  <!-- banner -->
  <div class="banner">
    <div class="banner-w3lsinfo">
      <!-- header -->
      <div class="header">
        <div class="container">
          <div class="logo">
            <h1><a href="/">Home</a></h1>
          </div>
          <div class="menu">
            <a href="#" class="navicon"></a>
            <div class="toggle effect-3">
              <ul class="toggle-menu">
                <li><a href="/" class="active"> Home</a></li>
                <li><a href="/about"> About</a></li>
                <li><a href="/skills"> Skills</a></li>
                <li><a href="/experience">Experience</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/projects"> My Projects</a></li>
                <li><a href="/contact"> Contact Me</a></li>
              </ul>
            </div>
          </div>
          <div class="social-w3licon">
            <!--<a href="https://www.instagram.com/mychild_qader/" class="social-button instagram"><i class="fa fa-instagram"></i></a><span>@mychild_qader</span>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>-->
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <!-- //header -->
      <!-- page content -->
      <div class="container content">
        {% block content %}{% endblock %}
      </div>
      <!-- //page content -->
      <div class="w3agile-address">
        <div class="container">
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i> 250 Broome St, New York, NY 10002, New York</li>
            <li><i class="fa fa-phone" aria-hidden="true"> </i> 504-913-9275</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:mhq2101@columbia.edu"> mhq2101@columbia.edu</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- //banner -->
  <!-- footer -->
  <div class="w3agile-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12" style="font-size: 2em">
          <div style="color:blue">
            Social Media
          </div>
        </div>
      </div>

      <div class=row>
        <div class="col-sm-4">
          Instagram
        </div>
        <div class="col-sm-4">
          Github
        </div>
        <div class="col-sm-4">
          Linkedin
        </div>
      </div>
      <div class=row>
        <div class="col-sm-4">
          <a class="large-media" href="https://www.instagram.com/mychild_qader/" class="social-button instagram"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="col-sm-4">
          <a class="large-media" href="https://www.github.com/mhq2101" class="social-button facebook"><i class="fa fa-github"></i></a>
        </div>
        <div class="col-sm-4">
          <a class="large-media" href="https://www.linkedin.com/in/mikhailqader" class="social-button facebook"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- //footer -->
  <!-- menu-js -->
  <script>
    $('.navicon').on('click', function (e) {
      e.preventDefault();
      $(this).toggleClass('navicon--active');
      $('.toggle').toggleClass('toggle--active');
    });
  </script>
  <!-- //menu-js -->
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/bootstrap.js"></script>
</body>

</html>